:root {
  --overlay2: #41414254;
}

.about-container {
  width: 100%;
  height: 90%;
}

.mobile-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  padding: 10px 10px 0 10px;
}

.mobile-skills {
  width: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  /* height: 42%; */
  justify-content: space-around;
}

.skill-box {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 5px;
  /* justify-content: center; */
  font-size: 20px;
}

.skill-box hr {
  border-top: 1px solid white;
}

.skill-box p {
  padding: 0 10px;
}

.skill-box div {
  width: 75%;
}

.HTML {
  width: 80%;
}

.CSS {
  width: 70%;
}

.javaScript {
  width: 75%;
}

.react {
  width: 65%;
}

.react-context {
  width: 45%;
}

.redux {
  width: 45%;
}

.redux-thunk {
  width: 45%;
}

.graphQL {
  width: 45%;
}

.nextJS {
  width: 45%;
}

.nodeJS {
  width: 70%;
}

.mySQL {
  width: 55%;
}

.photoshop {
  width: 65%;
}

.PHP {
  width: 40%;
}

.github {
  width: 70%;
}

.otherSomething {
  width: 15%;
}

.mobile-box h1 {
  font-size: calc(25px + 2vw);
  font-weight: 600;
}

.mobile-box p {
  font-size: calc(10px + 1vw);
}

.left-box {
  display: none;
}

.right-box {
  display: none;
}

@media (min-width: 600px) {
  .mobile-box {
    display: none;
  }

  .about-container {
    display: flex;
    justify-content: space-around;
    /* max-height: 630px; */
    width: 100%;
    padding: 20px 15px 5px 15px;
    border-radius: 10px;
  }

  .left-box {
    display: flex;
    flex: 40%;
    height: 100%;
    border: 5px solid white;
    border-radius: 7px;
  }

  .left-box-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-image: url(../img/MaybeAboutCropper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    /* padding: 50px 0 20px 0; */
  }

  .left-box-overlay {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    background: var(--overlay2);
    border-radius: 3px;
    /* box-shadow: inset 0px 0px 10px 2px var(--shadow); */
  }

  .skills {
    /* height: 35%; */
  }

  .right-box {
    display: flex;
    flex-direction: column;
    flex: 60%;
    height: 95%;
    justify-content: space-around;
    padding: 0 0 0 25px;
    /* border: 3px solid white; */
  }

  .right-box h1 {
    font-size: calc(21px + 3vw);
    font-weight: 600;
  }

  .right-box p {
    font-size: calc(10px + 1vw);
  }

  @media (min-width: 768px) {
    .left-box {
      flex: 1
    }

    .right-box {
      flex: 2;
    }
  }
}