:root {
  --nav-bg-opaque: rgba(255, 255, 255, 0.877);
}

.fab-nav-box {
  display: flex;
  width: 100%;
  min-height: 10%;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}

.fabby {
  z-index: 2;
}

.plusSign {
  color: #181A20;
  /* transition: transform .5s ease-in-out; */
}

.background {
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-direction: flex-start;
  /* height: 0%; */
  background: var(--nav-bg-opaque);
  transition: height .175s ease-in-out;
  z-index: 1;
}

.background ul {
  flex-direction: column;
  width: 100%;
  height: 90%;
  align-items: center;
  justify-content: space-evenly;
  font-size: 28px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0);
  list-style: none;
  transition: height .175s ease-in-out;
}

.background a {
  display: block;
  text-decoration: none;
  color: rgba(24, 26, 32, 0.555);
}

@media (min-width: 600px) {
  .fab-nav-box {
    display: none;
  }
}